extends ../layouts/common
block content
    if alerts
        each alert in alerts
            .alert.alert-success.alert-dismissible.fade.show(role='alert', style="position: absolute; top: 80px; right: 20px")
                p.m-0=alert
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;
    .signin
        .panel.left-panel.text-center
            .content
                h3 Do you not have an account?
                p If reading book is your hobby, please log up to view and buy them.
                a(href="/users/signup").btn.mb-5 Sign up
            img(src='/images/undraw_maker_launch_crhe.svg', alt='')
        form.sign-in-form.text-center(action="/auth/signin", method="POST", style='width: 500px')    
            h2.title.mb-4 Sign in  
            if errors   
                each error in errors
                    p.text-danger= error      
            .input-field
                i.fas.fa-envelope
                input(type='email', placeholder='Email', name="email", value=values ? values.email : '', required)                    
            .input-field
                i.fas.fa-lock
                input(type='password', placeholder='Password', name="password", value=values ? values.password : '', required)
            
            button.btn-sign-in(type='submit') Sign in          
            a.btn-link.d-block.mt-2.mb-2(href="#") Forgot Password?
            p.social-text Or Sign up with social platforms
            .social-media.justify-content-center
                a.social-icon(href='#')
                    i.fab.fa-facebook-f
                a.social-icon(href='#')
                    i.fab.fa-twitter
                a.social-icon(href='#')
                    i.fab.fa-google
                a.social-icon(href='#')
                    i.fab.fa-linkedin-in