extends ./layouts/common
block index
    header.main-heading.d-flex.align-items-center
        .container
            .main-heading-text.text-light(style="font-size: 60px")
                .main-heading-text--1 A better away to discover books!
                .main-heading-text--2 We help you find books you'll love.
    .body
        h1 hello           
        h1 hello           
        h1 hello           
        h1 hello           
        h1 hello           