extends ./layouts/common
block index
    header.main-heading.d-flex.align-items-center
        .container
            .main-heading-text.text-light(style="font-size: 60px")
                .main-heading-text--1 A better away to discover books!
                .main-heading-text--2 We help you find books you'll love.
            a.mt-4.btn.btn-outline-light.main-heading-btn(href="/books", style="width: 150px; border-radius: 25px; font-size: 20px") Read More
    .container
        h1 Every day
        h2 One book title
        p Cherish each knowledge page

               