extends ./layouts/common
block index
    header.main-heading.d-flex.align-items-center
        .container
            .main-heading-text.text-light(style="font-size: 60px")
                .main-heading-text--1 A better away to discover books!
                .main-heading-text--2 We help you find books you'll love.
            a.mt-4.btn.btn-outline-light.main-heading-btn(href="/books", style="width: 150px; border-radius: 25px; font-size: 20px") Read More   
    .container-fluid
        .row
            .col-lg-6
                img(src="")
            .col-lg-6
                .body-page-item
                    span the business of
                    span Design
                    .body-page-item--production
                        .body-page-item--production__author
                            span Author
                            p Keith Granet
                        .body-page-item--production__type
                            span Type
                            p Keith Granet
                        .body-page-item--production__layout
                            span Layout
                            p Printed & PDF
                    .body-page-item--rating
                        .aaaaa
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        span 4.1/687 Reviews
                        
   
               
