extends ../layouts/common
block content
    h1
        span.mr-3 My books
        a.btn.btn-primary(href="/users/create") New
    .d-flex.align-items-center
        form.d-flex.ml-auto(action="/users/search", method="get")
            input(type="text", name="q", class="form-control")
            button(class="btn btn-primary ml-2") Search
    table.table
        tr
            th Name
            th Created At
            th Actions
            th 
        each book in books
            tr
                td=book.name
                td=book.createdAt
                td
                    a.btn.btn-light(href="/books/" + book.slug) View
                td
                    a.btn.btn-link(href="/books/" + book._id + "/edit") Edit
                    a.btn.btn-link(href="/books/" + book.id) Delete