extends ../layouts/common
block content
        h1.mb-4 My books
        table.table
            tr
                th Name
                th Price Old
                th Price New
                th Actions
                th
            each book in books
                tr
                    td=book.name
                    td=book.price_old
                    td=book.price_new
                    td
                        a.btn.btn-light(href="/books/" + book.slug) View
                    td
                        a.btn.btn-link(href="/books/" + book._id + "/edit") Edit
                        a.btn.btn-link(href="/books/" + book.id) Delete
        .d-flex.align-items-center.justify-content-center
            span You don't have any book?
            a.btn.btn-link(href="/books/create") Create book