extends ../layouts/common
block content
    h1.mb-5 Authors
    table.table
        tr
            th Name
            th Image
            th Actions
            th Created At
        each author in authors
            tr
                td=author.name
                td=author.image
                td
                    a.btn.btn-light(href="/authors/" + author.slug) View
                td=author.createdAt