@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  text-decoration: none !important;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 50px;
  z-index: 1022;
  transition: all 0.6s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
nav.sticky,
.nav-app {
  padding: 10px 50px;
  background-color: black !important;
}
.table td {
  vertical-align: unset;
}
.row {
  margin: 0;
}
img {
  border-radius: 6px;
}
.main-heading {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-image: url("/images/Banner-Books.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.card a {
  position: relative;
  overflow: hidden;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.card-img-top:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.view-book-cart {
  position: absolute;
  bottom: 0;
}
/* Hover user menu */
.user {
  position: relative;
  cursor: pointer;
}
.user-menu {
  position: absolute;
  top: 55px;
  right: -10px;
  width: 200px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.user-menu::before {
  content: "";
  position: absolute;
  top: -46px;
  right: 5px;
  border-color: transparent transparent #fff transparent;
  border-width: 32px 23px;
  border-style: solid;
  z-index: -1;
}
.user:hover .user-menu {
  opacity: 1;
  visibility: visible;
}
.user-menu a {
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}
.user-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Sign up - Sign in */
.signup-ml-5 {
  margin-left: 9rem !important;
}
.signup,
.signin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.title {
  font-size: 2.2rem;
  color: #444;
}
.input-field {
  width: 100%;
  background-color: #f0f0f0;
  margin: 0 0 1.5rem 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}
.social-media {
  display: flex;
}
.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
}
.social-icon:hover {
  color: #fb5533;
  border-color: #fb5533;
}
.btn-sign-up,
.btn-sign-in {
  width: 150px;
  height: 49px;
  font-weight: 600;
  border-radius: 49px;
  text-transform: uppercase;
  background-color: #fa6345;
  border: none;
  outline: none;
  color: #fff;
  margin: 10px 0;
}
.panel.right-panel .content a,
.panel.left-panel .content a {
  padding: 10px 40px;
  border-radius: 25px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.btn-sign-up:hover,
.btn-sign-in:hover,
.panel.right-panel .content a:hover,
.panel.left-panel .content a:hover {
  color: #fff;
  background-color: #fb5533;
  border: 1px solid #fb5533;
}
.btn-sign-up:focus,
.btn-sign-in:focus,
.panel.right-panel .content a:focus,
.panel.left-panel .content a:focus {
  outline: none;
  box-shadow: none;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}
.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}
.panel.right-panel img,
.panel.left-panel img {
  width: 90%;
}
/* Alert message when signup success */
button.close:focus {
  outline: none;
}

/* Index .body-page-item */
.body-page-item h6 {
  color: #7a412a;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.body-page-item h1 {
  color: #743820;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 3px;
}
.body-page-item--production__text {
  margin-right: 6rem;
}
.body-page-item--production__text span {
  color: #999;
  font-weight: 500;
}
.body-page-item--production__text p {
  color: #491b09;
  font-weight: 700;
}
.body-page-item--rating i {
  color: #fb5533;
}
.body-page-item--rating span {
  color: #743820;
  font-weight: 500;
}
.body-page-item--price span {
  color: #743820;
  font-size: 3rem;
  font-weight: 600;
}
.body-page-item h3 {
  color: #743820;
  font-weight: 600;
}
.price-new,
.price-old {
  font-size: 1.5rem !important;
}
.price-old {
  color: #999 !important;
  text-decoration: line-through !important;
}
/* Toggle add to cart */
.switch {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 48px;
}
.switch:before {
  position: absolute;
  color: #fff;
  content: "ADD TO CART";
  font-size: 0.8rem;
  font-weight: 600;
  top: 14px;
  left: 56px;
  z-index: 2;
  cursor: pointer;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  cursor: pointer;
}
.slider:before {
  position: absolute;
  content: "";
  width: 38px;
  height: 38px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.slider.round {
  background-color: #fb5533;
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
  z-index: 10;
}

/* .switch input:checked + .slider {
  background-color: #fb5533;
} */
.switch input:focus + .slider {
  box-shadow: 0 0 1px #fb5533;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(130px);
  -ms-transform: translateX(130px);
  transform: translateX(130px);
}

/* Footer */
.footer-subscribe input {
  position: relative;
  outline: none;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 44px;
  padding: 0 24px;
}
.footer-subscribe button {
  position: absolute;
  right: 0;
  width: 140px;
  height: 44px;
  outline: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fb5533;
  color: #fff;
}

#navbardrop {
  color: #743820;
  background-color: #ffece5;
  font-weight: 600;
  width: 150px;
  border-radius: 25px;
  border: 0.5px solid #886251;
}
.dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border: none;
  vertical-align: 0;
  margin-left: 1.2rem;
}
.dropdown-menu {
  width: 180px;
  background-color: unset;
  color: #743820;
}
a.dropdown-item:focus {
  background-color: unset;
}
a.dropdown-item:hover {
  background-color: #fff;
}

.footer-text span {
  color: #743820;
  font-size: 20px;
  font-weight: 600;
}
.footer-text a {
  color: #777;
  font-size: 16px;
  font-weight: 500;
}
