nav {
  background-color: black;
}
.main-heading {
  background-image: url("/images/Banner-Books.jpg");
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
