extends ../layouts/common
block content
    h1 
        span.mr-3 Create User
        a.btn.btn-primary(href="/users") Users
    form(action="/users/create", method="post")
        .form-group
            label(for="name") Name
            input(type="text", id="name", name="name", class="form-control")
        .form-group
            label(for="phone") Phone
            input(type="text", id="phone", name="phone", class="form-control")  
        button(class="btn btn-primary mt-2") Create