extends ../layouts/common
block content
    h1 Create User
    a(href="/users") Users
    form(action="/users/create", method="post")
        label Name
        input(type="text", name="name", class="form-control")
        button(class="btn btn-primary") Create