extends ../layouts/common
block content
    h2 Users
    a(href="/users/create") New user
    form(action="/users/search", method="get")
        input(type="text", name="q", class="form-control")
        button(class="btn btn-primary") search
    ul
        each user in users
            li= user.name