extends ../layouts/common
block content
    .signup
        form.sign-up-form.text-center(action="/users/signup", method="POST", style='width: 500px')
            h2.title.mb-4 Sign up
            if errors
                each error in errors
                    .alert.alert-danger= error
            .input-field
                i.fas.fa-user
                input(type='text', placeholder='Name', name="name", value=values ? values.name : '')
            .input-field
                i.fas.fa-envelope
                input(type='email', placeholder='Email', name="email", value=values ? values.email : '')                    
            .input-field
                i.fas.fa-lock
                input(type='password', placeholder='Password', name="password", value=values ? values.password : '')
            
            button.btn-sign-up(type='submit', value='Sign up') Sign up
            
            p.social-text Or Sign up with social platforms
            .social-media.justify-content-center
                a.social-icon(href='#')
                    i.fab.fa-facebook-f
                a.social-icon(href='#')
                    i.fab.fa-twitter
                a.social-icon(href='#')
                    i.fab.fa-google
                a.social-icon(href='#')
                    i.fab.fa-linkedin-in
        .panel.right-panel.text-center
            .content.text-light
                h3 You have an account?
                p If reading book is your hobby, please log in to view and buy them.
                button#sign-in-btn.btn.btn-outline-light.btn-sign-in Sign in
            img(src='/images/undraw_press_play_bx2d.svg', alt='')
