extends ../layouts/common
block content
    .row(style="background-color: #f7f8fd; border-radius: 6px;")
        .view-author.d-flex
            img.m-4(src=author.image, style="width: 400px; height: 500px; object-fit: cover")
            .m-4(style="position: relative")
                h4=author.name
                